@import "tailwindcss";

@import url('/logoandbg.png');
@import url('/logozeniark.jpg');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/poppins-v15-latin-regular.woff2') format('woff2');
}